 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 777px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 147px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 631px;
}

.u-section-1 .u-container-layout-1 {
  padding: 14px 0 30px;
}

.u-section-1 .u-text-1 {
  font-size: 2.5rem;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-family: "ADLaM Display";
  font-weight: 700;
  margin: 1px -50px 0 15px;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  font-family: "ADLaM Display";
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 15px auto 0 15px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 631px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 20px 30px;
}

.u-section-1 .u-image-1 {
  height: 513px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin-top: 1px;
  margin-bottom: 0;
}

.u-section-1 .u-text-3 {
  font-family: "ADLaM Display";
  margin: -77px auto 0;
}

.u-section-1 .u-btn-1 {
  --radius: 50px;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-weight: 700;
  font-family: "ADLaM Display";
  background-image: none;
  margin: 33px auto 0 0;
}

.u-section-1 .u-btn-2 {
  --radius: 50px;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-weight: 700;
  font-family: "ADLaM Display";
  background-image: none;
  margin: -42px auto 0;
  padding: 10px 12px 10px 10px;
}

.u-section-1 .u-btn-3 {
  --radius: 50px;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-weight: 700;
  font-family: "ADLaM Display";
  background-image: none;
  margin: -42px auto 0 391px;
  padding: 10px 22px 10px 20px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 746px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 90px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 656px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 520px;
  }

  .u-section-1 .u-image-1 {
    height: 416px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 20px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 291px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 636px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 654px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-image-1 {
    height: 310px;
    margin-top: 207px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 181px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 917px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 397px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.5rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    height: 511px;
    margin-top: 1px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 77px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 231px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 258px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 716px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 470px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 547px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .u-section-1 .u-image-1 {
    height: 314px;
    margin-top: 70px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: -37px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 8px;
    margin-left: auto;
    padding: 9px 16px 10px 14px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 12px;
    margin-right: 48px;
    margin-left: auto;
    padding: 9px 14px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 11px;
    margin-left: auto;
  }
} .u-section-2 {
  background-image: linear-gradient(to bottom, rgba(42, 51, 41, 1), rgba(42, 51, 41, 1)), url('images/63b904a58ae9e89061e2481f4510c63b79c0ace8ab55dca012f6e90b035f89b57565e498d1c3a9514bd56e304236db1725f6a8c13cdbc04a3978db_1280.jpg');
  background-position: 50% 50%, 50% 50%;
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
}

.u-section-2 .u-sheet-1 {
  min-height: 406px;
}

.u-section-2 .u-text-1 {
  font-family: "ADLaM Display";
  font-size: 1.25rem;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 43px 0;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 208px;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 335px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 257px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 193px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 122px;
  }
} .u-section-3 {
  background-image: linear-gradient(0deg, rgba(42, 51, 41, 0.4), rgba(42, 51, 41, 0.4)), url('images/image3.png');
  background-position: 50% 50%, 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 599px;
}

.u-section-3 .u-text-1 {
  font-family: "ADLaM Display";
  font-weight: 700;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 294px auto 0 0;
}

.u-section-3 .u-text-2 {
  font-family: "ADLaM Display";
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 30px 314px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 494px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 114px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 378px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 284px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 179px;
  }
} .u-section-4 {
  background-image: linear-gradient(to bottom, rgba(42, 51, 41, 1), rgba(42, 51, 41, 1));
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.u-section-4 .u-sheet-1 {
  min-height: 241px;
}

.u-section-4 .u-text-1 {
  font-family: "ADLaM Display";
  font-size: 1.25rem;
  margin: 41px 0;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 208px;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 371px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 284px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 213px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 134px;
  }
} .u-section-5 {
  background-image: linear-gradient(0deg, rgba(42, 51, 41, 0.4), rgba(42, 51, 41, 0.4)), url('images/image4.png');
  background-position: 50% 50%, 50% 50%;
}

.u-section-5 .u-sheet-1 {
  min-height: 50vw;
}

.u-section-5 .u-text-1 {
  font-family: "ADLaM Display";
  font-weight: 700;
  margin: 177px 48px 0;
}

.u-section-5 .u-text-2 {
  font-family: "ADLaM Display";
  margin: 28px 28px 60px 286px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
    margin-left: 114px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-2 {
    margin-left: 0;
  }
} .u-section-6 {
  background-image: linear-gradient(to bottom, rgba(42, 51, 41, 1), rgba(42, 51, 41, 1));
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.u-section-6 .u-sheet-1 {
  min-height: 241px;
}

.u-section-6 .u-text-1 {
  font-family: "ADLaM Display";
  font-size: 1.25rem;
  margin: 41px 0;
}

@media (max-width: 1199px) {
   .u-section-6 {
    min-height: 208px;
  }

  .u-section-6 .u-sheet-1 {
    min-height: 371px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 284px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 213px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 134px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 521px;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 1px;
  margin-bottom: 1px;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 520px;
}

.u-section-7 .u-container-layout-1 {
  padding: 16px 30px 0;
}

.u-section-7 .u-image-1 {
  width: 460px;
  height: 460px;
  background-image: url("images/image6.png");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 43px auto 0;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 520px;
}

.u-section-7 .u-container-layout-2 {
  padding: 23px 0 22px;
}

.u-section-7 .u-text-1 {
  font-size: 2.5rem;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-family: "ADLaM Display";
  font-weight: 700;
  margin: 0 286px 0 29px;
}

.u-section-7 .u-text-2 {
  font-size: 1.25rem;
  font-family: "ADLaM Display";
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 14px 51px 0 29px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 378px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 429px;
  }

  .u-section-7 .u-image-1 {
    width: 410px;
    height: 410px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 429px;
  }

  .u-section-7 .u-text-1 {
    margin-right: 215px;
    margin-left: 0;
  }

  .u-section-7 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 78px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 329px;
  }

  .u-section-7 .u-image-1 {
    width: 300px;
    height: 300px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-7 .u-text-1 {
    margin-right: 105px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 349px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 368px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-text-2 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 159px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 232px;
  }

  .u-section-7 .u-text-1 {
    font-size: 2.25rem;
    margin-right: 0;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 526px;
}

.u-section-8 .u-layout-wrap-1 {
  margin-top: 1px;
  margin-bottom: 1px;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 525px;
}

.u-section-8 .u-container-layout-1 {
  padding: 16px 17px;
}

.u-section-8 .u-text-1 {
  font-size: 1.25rem;
  font-family: "ADLaM Display";
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 0 0 18px;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 525px;
}

.u-section-8 .u-container-layout-2 {
  padding: 0;
}

.u-section-8 .u-image-1 {
  width: 482px;
  height: 482px;
  background-image: url("images/image7.png");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 18px auto 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 378px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 433px;
  }

  .u-section-8 .u-text-1 {
    margin-left: 0;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 433px;
  }

  .u-section-8 .u-image-1 {
    width: 470px;
    height: 470px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 78px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 332px;
  }

  .u-section-8 .u-image-1 {
    width: 360px;
    height: 360px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 349px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-text-1 {
    font-size: 1rem;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 498px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 989px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-bottom: 60px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 477px;
  }

  .u-section-8 .u-container-layout-1 {
    padding: 0;
  }

  .u-section-8 .u-text-1 {
    width: auto;
    margin: 477px 10px -460px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 458px;
  }

  .u-section-8 .u-image-1 {
    height: auto;
    margin-top: -428px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}